html {
    height: 100%;
}

body {

    background-image: url(../imagenes/low-poly-grid-haikei.svg);
    color: white;
    font-family: 'Raleway', sans-serif;
    min-height: 100%;

    h1 {
        font-family: 'Mukta', sans-serif;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
        }
    }

    .logoMenu {
        width: 40px;
        align-items: center;
        margin: 0 auto;
    }

    .logo {
        padding: 30px;

        .logo a h1 {
            display: inline-block;
            font-size: 5px;
        }
    }
    header {
        background-color: #050e14de;
        box-shadow:
            0px 0.4px 0.6px rgba(0, 0, 0, 0.039),
            0px 1.1px 1.4px rgba(0, 0, 0, 0.057),
            0px 2px 2.6px rgba(0, 0, 0, 0.07),
            0px 3.6px 4.7px rgba(0, 0, 0, 0.083),
            0px 6.7px 8.8px rgba(0, 0, 0, 0.101),
            0px 16px 21px rgba(0, 0, 0, 0.14);
    }

}
.logoAbajo {
    width: 20px;
    filter: blur(3px);
    margin: 7px;
    transition: 0.5s;
    &:hover {
        filter: blur(0px);
    }
}

.pie {
    text-align: center;
    background-color: #050e14de;
    bottom: 20px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    .listaFooter {
        font-size: 7px;
        li {
            display: inline-block;
            list-style-type: none;
            background-color: rgba(0, 0, 0, 0.192);
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 10px;
        }
    }
    .copy {
        margin: 1rem auto;
        font-size: small;
        width: 100%;
        align-items: center;
        img {
            width: 15px;
        }
    }
}

.pie .copy {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 7px;
}











